@import "./components/reset";
@import "./components/colors";
@import "./components/mixins";
@import "./components/mediaqueries";
@import "./components/typography";

body{
  font-family: "Poppins", sans-serif;
  position: relative;
}

.top-nav {
  display: flex;
 
  font-size: 14px;
  justify-content: center;
 color:$shoppy-white ;
 background-color:$shoppy-dark-btn ;
  height: 2rem;
  align-items: center;
  

  :nth-child(2) {
    margin-left: 1.0rem;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      font-weight: bolder;
    }
  }


}

.mid-nav {
  display: flex;
  justify-content: space-between;
  
  align-items: center;
  @include main-padding;
  
   
      border-bottom: 1px solid gray;
      .language{
        border: none;
        padding: 5px;
        outline: none;
        font-size: 14px;
        font-weight: 400;

      }
      h2{
        font-family: Quella ;

      }


  .nav-input {
    height: 38px;
    width: 539px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background: #F5F5F5;
    padding-right: 12px;



    input {
      border: none;
      background: transparent;
      width: 100%;
      outline: none;
      padding: 10px 12px;
     
        
      }
      i{
        width: 16px;
        height: 16px;
      }
    }

  }
  .Last-nav{
    @include main-padding;
    border-bottom: 1px solid gray ;
    margin-bottom: 60px;
    nav{
      display: flex;
      justify-content:space-between;
      align-items: center;

      .menu{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        // margin-right: 40px;
        li{
          cursor: pointer;
       
          &:hover{
            text-decoration:underline;

          }
        }
      }
      .icons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
        .user{
          width: 25px;
          height: 25px;
          cursor: pointer;

        }
        .bx{
           width: 20px;
           height: 20px;
           cursor: pointer;
        }
       .bm{
        cursor: pointer;
       }
      }
    }

    
  }
    swiper-slide img {
      width: 100%;
    }
 swiper-slide {
  
   font-size: 18px;
   background: #fff;
   display: flex;
   align-items: center;
 }
  swiper-container {
    @include main-padding;
    width: 85%;
    height: 460px;
  }
  .one{
    background-repeat: no-repeat;
    background-position: right;
    background-color: black;
     color: #F5F5F5;
  }
  .two{

    background-repeat: no-repeat;
    background-position: right;
    background-color: black;
    color: #F5F5F5;
    
  }
  .hero{

    display: flex;
    justify-content: space-between;
    align-items: center;
     gap: 40rem;
  }
  .three{
    background-repeat: no-repeat;
    background-position: right;
    background-color:$shoppy-white;
    color: $shoppy-dark-btn;
    .hero-img{
      width: 60%;
      height:80%;
    }
  }
  .hero-text{
    width: 300px;
    .apple{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    gap: 15px;
    span{
      font-family: Poppins;
      font-size: 22px;
      font-weight: 400;
      width: 100%;
      

    }
  }
  }
  