@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@import "./components/reset";
@import "./components/colours";


.top-nav{
  display: flex;
font-family: Poppins;
font-size: 14px;
justify-content: center;
color:$Dark_Bg_Text;
background-color: $Dark_Bg;
height: 2rem;
align-items: center;

:nth-child(2){
  margin-left: 1.0rem;
  cursor: pointer;
  text-decoration: underline;
  &:hover{
    font-weight: bolder;
  }
}


}