@import "./components/reset";
@import "./components/colors";
@import "./components/mixins";
@import "./components/mediaqueries";
@import "./components/typography";

body {
  font-family: 'Poppins',
    sans-serif;
  overflow-x: hidden;

}

.top-nav {
  display: flex;

  @include respond(small) {
    display: none;
  }

  font-size: 14px;
  justify-content: center;
  color: $shoppy-white;
  background-color: $shoppy-dark-btn;
  height: 2rem;
  align-items: center;



  :nth-child(2) {
    margin-left: 1.0rem;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      font-weight: bolder;
    }
  }


}

.mid-nav {
  display: flex;
  justify-content: space-between;

  align-items: center;
  @include main-padding;


  border-bottom: 1px solid gray;

  .language {
    border: none;
    padding: 5px;
    outline: none;
    font-size: 14px;
    font-weight: 400;

  }

  h2 {
    font-family: Quella;

  }


  .nav-input {
    height: 38px;
    width: 539px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background: #F5F5F5;
    padding-right: 12px;



    input {
      border: none;
      background: transparent;
      width: 100%;
      outline: none;
      padding: 10px 12px;


    }

    i {
      width: 16px;
      height: 16px;
    }
  }

}

.Last-nav {
  @include main-padding;
  border-bottom: 1px solid gray;
  margin-bottom: 60px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;

      // margin-right: 40px;
      li {
        cursor: pointer;

        &:hover {
          text-decoration: underline;

        }
      }
    }

    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 32px;

      .user {
        width: 25px;
        height: 25px;
        cursor: pointer;

      }

      .bx {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }

      .bm {
        cursor: pointer;
      }
    }
  }


}

// HERO SECTION  CSS WITH SWIPER CAROUSEL

swiper-slide img {
  // width: 100%;
}

swiper-slide {

  font-size: 18px;
  background: #fff;
  display: flex;
  align-items: center;
  height: 478px;
 
}

swiper-container {
  @include main-padding;
  width: 85%;
  height: 460px;
   @include respond(small) {
     width: 100vw;
     margin: 0px;
     padding: 0px;
    
   }
}

.one {
  background-repeat: no-repeat;
  background-position: right;
  background-color: black;
  color: #F5F5F5;
}

.two {

  background-repeat: no-repeat;
  background-position: right;
  background-color: black;
  color: #F5F5F5;

}

.hero {

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20rem;
  padding-left: 90px;
  @include respond(small){
    flex-direction: column-reverse;
    justify-content:center;
    align-items: center;
    gap: 2px;
    padding: 10px;
  }
}

.three {
  background-repeat: no-repeat;
  background-position: right;
  background-color: $shoppy-white;
  color: $shoppy-dark-btn;

  .hero-img {
    width: 60%;
    height: 80%;
    @include respond(small) {
     padding-top: 20px;
    }
    img{
      @include respond(small){
        width: 200px;
      }
      .samsung{
         @include respond(small) {
           width: 300px;
           height: 300px;
         }
      }
    }
  }
}
.samsung {
  @include respond(small) {
    width: 250px;
    height: 250px;
    // margin: 20px;
    text-align: center;
     
  }
}

.hero-text {
  width: 300px;
 

  img {

    width: 55px;
    height: 68px;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    @include respond(small){
      width: 40px;
      display: none;
    }
  }

  .apple {

    width: 400px;
    gap: 15px;
     @include respond(small) {
      //  display: flex;
      //  flex-direction: column;
      //  gap: 2px;
      //  justify-content: center;
      //  align-items: center;
      //  text-align: center;
      margin-bottom: 50px;
     }

    div {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    h1 {
      font-family: Poppins;
      font-size: 66px;
      font-weight: 600;
      line-height: 83px;
       @include respond(small) {
         font-size: 20px;
         font-weight: 500;
         line-height: normal;
       }


    }

    span {
      font-family: Poppins;
      font-size: 22px;
      font-weight: 400;
      width: 100%;
      @include respond(small) {
        // width: 200px;
        color:red;
      }
     
      
     




    }
  }
}

.btn-span {
  display: flex;
  align-items: center;
  gap: 10px;
   
}

.hero-btn {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  border: none;
  border-bottom: 1px solid gray;
  color: white;
  background: none;
   @include respond(small) {
    
   }



}
.sam{
  @include  respond(small){
    margin-left: 30px;
  }
 
}

//  END OF  HERO SECTION  CSS WITH SWIPER CAROUSEL

.partners {
  @include respond(small) {
    display: none;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin: 10px;

  span {
    width: 198px;
    height: 112px;
    background: #FDFFFE;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0px 35px 47px rgba(212, 217, 232, 0.2);
    border-radius: 19px;


  }

}

.explore {
  @include main-padding;


  .explore-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      color: $shoppy-teal-blue;
    }
  }

  .explore-details {
    display: flex;
    align-items: center;
    gap: 20px;

    @include respond(small) {
      flex-direction: column;

    }

    .explore-fashion {
      width: 450px;
      height: 429px;
      background: url(./assets/images/short-trousers.png);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 5px;
      display: flex;
      align-items: flex-end;
      padding-left: 20px;
       @include respond(small) {
         width:90vw;
         margin: 10px;

       }

      p {
        font-family: Poppins;
        font-size: 32px;
        font-weight: 500;
        line-height: 40px;
        color: white;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
          color: black;
        }
      }

    }
  }

  .explore-electronics {
    width: 820px;
    height: 427px;
    background: url(./assets/images/table-gadgets.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
     @include respond(small) {
       width: 90vw;
       margin: 10px;

     }

    p {
      font-family: Poppins;
      font-size: 32px;
      font-weight: 500;
      line-height: 40px;
      color: white;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
        color: black;
      }
    }
  }
}

.explore-shop {
  @include main-padding;


  .explore-details {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    @include respond(small) {
      flex-direction: column;
    }



    .explore-shop {
      width: 818px;
      height: 427px;
      background: url(./assets/images/shops.png);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 5px;
      display: flex;
      align-items: flex-end;
      padding-left: 20px;
       @include respond(small) {
         width: 90vw;
         margin: 10px;

       }

      p {
        font-family: Poppins;
        font-size: 32px;
        font-weight: 500;
        line-height: 40px;
        color: white;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
          color: black;
        }
      }
    }

    .explore-furniture {
      width: 450px;
      height: 425px;
      background: url(./assets/images/ante-room.png);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 5px;
      display: flex;
      align-items: flex-end;
      padding-left: 20px;
       @include respond(small) {
         width: 90vw;
         margin: 10px;

       }

      p {
        font-family: Poppins;
        font-size: 32px;
        font-weight: 500;
        line-height: 40px;
        color: white;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
          color: black;
        }
      }
    }
  }
}

.Best-selling {
  @include main-padding;
  margin-top: 180px;
  position: relative;
  margin-bottom: 90px;
  @include respond(small) {
    text-align: center;
    margin-top: 20px;
  }
  .best-title {
    width: 278px;
    height: 338px;
     @include respond(small) {
       width: 90vw;
     }

    h3 {
      font-family: Poppins;
      font-size: 32px;
      font-weight: 700;
      line-height: 48px;


    }

    p {
      font-family: Poppins;
      font-size: 18px;
      font-weight: 500;
      line-height: 27px;
      color: #1E1E1E80;

    }

    button {
      width: 160px;
      border: none;
      border-radius: 8px;
      padding: 12px 20px;
      background: #C1DCDC;
      display: flex;
      align-items: center;
      gap: 10px;
       @include respond(small) {
         width: 80vw;
         margin-inline: auto;
         text-align: center;
         justify-content: center;
       }

      &:hover {
        cursor: pointer;
        scale: 1.1;
      }


    }

  }
}

.Best-selling {
  display: flex;
  justify-content: space-between;
   @include respond(small) {
    flex-direction: column;
    padding-inline: 10px;

   }

  .navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    gap: 900px;
    top: 150px;
    left: 440px;
     @include respond(small) {
       display: none;
       padding-inline: 10px;

     }

    span {
      height: 41px;
      width: 48px;
      border-radius: 3px;
      background: #C1DCDC;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        cursor: pointer;
        scale: 1.1;
      }


    }
  }
}

.best-selling-slide {}

.product-slide {
  display: flex;
  gap: 43px;
   @include respond(small) {
     flex-direction: column;
     padding-inline: 10px;

   }

  img {
    height: 338px;
    border-radius: 8px;
  }
}

.product {
  p {
    span {
      &:nth-child(2) {
        color: green;
      }
    }

  }
}

.CTA {
  @include main-padding;
  border-radius: 8px;
 @include respond(small) {
   width:90vw;
   display: flex;
   margin-inline: 10px;

 }
  display: flex;
  margin-block: 90px;
  align-items: center;

  background: linear-gradient(70deg, #c1dcdc 50%, #02a0a0 50%);
  background-size: 130% 100%;


  .cta-text {

    width: 783px;
    padding: 20px;
     @include respond(small) {
       width: 60%;
       padding: 5px;

     }

    span {
      &:nth-child(1) {
        font-family: Inter;
        font-size: 25px;
        font-weight: 600;
        line-height: 34px;

        @include respond(small) {
          width: 40%;
          font-size: 18px;
          line-height:15px;

        }

      }

      &:nth-child(3) {
        font-family: Inter;
        font-size: 16px;
        color: #373535de;
        @include respond(small) {
        
          font-size: 12px;
          line-height: 10px;

        }

      }
    }
  }

  .cta-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;

     @include respond(small) {
       width: 40%;
       margin-right: 5px;
       
      

     }
    height: 90px;
    width: 600px;
    padding: 7px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    button {
      @include dark-btn;

      &:hover {
        cursor: pointer;
        scale: 1.1;
      }


    }
  }

}

.New-arrival {
  @include main-padding;
  margin-bottom: 50px;
  margin-inline: 20px;
  @include respond(small){
     margin-bottom: 50px;
     margin-inline: 2px;

  }

  .New-arrival-title {
    h2 {
      font-family: Inter;
      font-size: 36px;
      font-weight: 600;
      line-height: 48px;

    }

    span {
      &:nth-child(1) {
        height: 40px;
        width: 20px;
        border-radius: 4px;
        background: #02A0A0;
        margin-right: 20px;
      }

      &:nth-child(2) {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        color: #02A0A0;


      }
    }
  }
}

.new-arrival-box {

  display: flex;
  // align-items: center;
  gap: 40px;
  @include respond(small){
    flex-direction: column;
    gap: 10px;
  }

  .new-arrival-wc {
    position: relative;
    height: 284px;
    width: 600px;
    border-radius: 4px;
    background: #0a0a0a;
    @include respond(small) {
      width: 90vw;
      margin: 0px;
      margin-bottom: 50px;
       
       padding-bottom: 10px;
    }


    .img {
      margin-left: 120px;
      width: 432px;
 @include respond(small) {
    margin-left: 90px;
    width: 250px;

 }

    }

    .desc {
      position: absolute;
      color: #fff;
      left: 0;
      bottom: 0;
      margin-bottom: 20px;
      margin-left: 20px;
      width: 242px;

      p {
        font-family: Inter;
        font-size: 24px;
        font-weight: 600;
        line-height: 24px;

      }

      span {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;

      }

      button {

        background: none;
        border: none;
        color: #fff;
        margin-top: 10px;
        border-bottom: 1px solid rgb(203, 197, 197);

        &:hover {
          cursor: pointer;
          scale: 1.1;
        }
      }
    }

  }

  .new-arrival-ps {
    position: relative;
    height: 600px;
    width: 600px;
    border-radius: 4px;
    background: $shoppy-dark-btn;
    @include respond (small){
      width: 90vw;

    }

    .ps-5 {
      margin-top: 70px;


    }

    .desc {
      position: absolute;
      color: #fff;
      left: 0;
      bottom: 0;
      margin-bottom: 20px;
      margin-left: 20px;
      width: 242px;

      p {
        font-family: Inter;
        font-size: 24px;
        font-weight: 600;
        line-height: 24px;

      }

      span {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;

      }

      button {

        background: none;
        border: none;
        color: #fff;
        margin-top: 10px;
        border-bottom: 1px solid rgb(203, 197, 197);

        &:hover {
          cursor: pointer;
          scale: 1.1;
        }
      }
    }
  }

  .new-arrival-utilities {
    margin-top: 90px;
    display: flex;
    gap: 30px;
    @include respond(small){
      width: 90vw;
      margin-top: 20px;
      flex-direction: column;
      gap: 10px;
    }

    .new-arrival-perfume {
      display: flex;
      align-items: center;
      justify-content: center;

      @include respond(small) {
        width: 90vw;

      }

      img {
        height: 203px;
        width: 201px;

        &:hover {
          cursor: pointer;
          scale: 1.1;

        }

      }

      position: relative;
      height: 284px;
      width: 300px;
      border-radius: 4px;
      background: #0a0a0a;

      .details {
        position: absolute;
        color: #fff;
        left: 0;
        bottom: 0;
        margin-bottom: 20px;
        margin-left: 20px;
        width: 242px;

        p {
          font-family: Inter;
          font-size: 24px;
          font-weight: 600;
          line-height: 24px;

        }

        span {
          font-family: Poppins;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;

        }

        button {

          background: none;
          border: none;
          color: #fff;
          margin-top: 10px;
          border-bottom: 1px solid rgb(203, 197, 197);

          &:hover {
            cursor: pointer;
            scale: 1.1;
          }
        }
      }



    }

    .new-arrival-speakers {
      position: relative;
      height: 284px;
      width: 300px;
      background: #0a0a0a;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
       @include respond(small) {
         width: 90vw;

       }


      img {
        height: 203px;
        width: 201px;
      }

      .details {
        position: absolute;
        color: #fff;
        left: 0;
        bottom: 0;
        margin-bottom: 20px;
        margin-left: 20px;
        width: 242px;

        p {
          font-family: Inter;
          font-size: 24px;
          font-weight: 600;
          line-height: 24px;

        }

        span {
          font-family: Poppins;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;

        }

        button {

          background: none;
          border: none;
          color: #fff;
          margin-top: 10px;
          border-bottom: 1px solid rgb(203, 197, 197);

          &:hover {
            cursor: pointer;
            scale: 1.1;
          }
        }
      }
    }
  }
}

.saved-box {
  margin-inline: 120px;
  border: 1.05px solid #DEE2E7;
  padding-top: 10px;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 147px;

  .saved-products {
    display: flex;
    gap: 21px;
    //  justify-content: center;
    align-items: center;

  }

  .saved-item {

    .item-img {
      height: 265px;
      width: 284px;
      border-radius: 7px;
      background: #EEEEEE;
      text-align: center;

      img {
        height: 214px;
        width: 204px;
        margin: 30px;

        &:hover {
          cursor: pointer;
          scale: 1.1;

        }


      }


    }

    p {
      font-family: Poppins;
      font-size: 19px;
      font-weight: 600;


    }

    .item-name {
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      color: #606060;



    }

    button {
      @include light-btn;
      margin-top: 5px;

      .bx-cart {
        height: 19px;
        width: 19px;

      }
    }

  }
}

footer {
  background: #0a0a0a;
  color: #fff;
  padding-bottom: 20px;

  .top-footer {
    @include main-padding;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 20px;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;

    .reffer {
      display: flex;
      gap: 20px;
      // justify-content: center;
      align-items: center;

      img {
        height: 46px;
        width: 69px;


      }

      p:nth-child(1) {
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        margin-bottom: 5px;
      }

      p:nth-child(2) {
        font-family: Poppins;
        font-size: 14px;
        // font-weight: 400;

      }

      span {
        font-family: Poppins;
        font-size: 13px;
        font-weight: 400;

        &:hover {
          cursor: pointer;
        }

      }
    }
  }

  .mid-footer {
    @include main-padding;
    border-bottom: 1px solid gray;

    display: flex;
    gap: 30px;


    ul {
      width: 200%;

      li {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 10px;

        i {
          margin-right: 10px;
        }
      }

      h3 {
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;

      }
    }

    .App {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

    }
  }

  .copyright-footer {
    @include main-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .payment {
      img {
        margin-right: 10px;
      }
    }
  }
}