@mixin dark-btn {
  width: 127px;
  height: 42px;
  background-color: $shoppy-dark-btn;
  color: $shoppy-off-white;
  border-radius: 8px;
  margin-right: 30px;
}

@mixin light-btn {
  width: 172px;
  height: 44px;
  background-color: transparent;
  color: $shoppy-blue;
  border: 1px gray solid;
  border-radius: 8px;
   &:hover {
     cursor: pointer;
     scale: 1.1;
   }
}

@mixin Anyi-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}



@mixin main-padding {
  padding-inline: 100px;
}